.main-footer {
  display: none;
}

@media (min-width: @desktop-width) {
  .main-footer {
    display: block;
  }

  .site-list__footer {
    top: 0;
    left: 0;
    z-index: 6;

    display: flex;
    justify-content: space-between;
    width: 1920px;
    width: 1200px;
    height: 80px;
    margin: 80px 0 0 0;
    margin: auto;
    padding: 0;

    font-size: 24px;

    background-color: #ffffffff;
  }
  .site-list__footer .modal-button {
    margin: 0 0 0 0;
    padding: 0;

    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    border: none;
    &:hover {
      color: #f63765;

      background-color: #ffffff;
    }
    &:active {
      color: #ad0e35;
    }
  }
}
