// стили формы
.form {
  position: relative;
  background-color: #ffffffff;
  width: 330px;
  margin: 0 auto;

  &-wrapper {
    min-height: 825px;
    background: url("../img/form-background.png") no-repeat bottom;
    text-align: center;
  }

  &__title {
    font-family: "Stapel", arial, sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    margin: 0 0 16px 38px;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin: 0 0 24px 38px;
  }

  &__name {
    width: 300px;
    height: 44px;
    padding-left: 16px;
    margin: 0 0 0 18px;

    &:hover,
    &:focus,
    &:active,
    &:focus-visible {
      border: 1px solid #BC0000;
      outline: none;
    }
  }

  &__number {
    width: 300px;
    height: 44px;
    padding-left: 16px;
    margin: 44px 0 0 18px;

    &:hover,
    &:focus,
    &:active,
    &:focus-visible {
      border: 1px solid #BC0000;
      outline: none;
    }
  }

  &__textarea {
    width: 300px;
    height: 112px;
    resize: none;
    padding: 16px 0 0 16px;
    margin: 44px 0 44px 18px;

    &:hover,
    &:focus,
    &:active,
    &:focus-visible {
      border: 1px solid #BC0000;
      outline: none;
    }
  }

  &__button {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    background-color: #ffffffff;
    height: 44px;
    width: 300px;
    border-radius: 0px;
    border: 1px solid #0D0D0D;
    padding: 12px, 20px, 12px, 20px;
    margin: 0 0 16px 0;

    &:hover {
      background-color: #F63765;
      color: #ffffff;
      border: none;
    }

    &:active {
      background-color: #AD0E35;
      color: #ffffff;
      border: none;
    }
  }

  &__button-reset {
    height: 44px;
    width: 300px;
    font-weight: 600;
    border: none;
    padding: 12px, 0px, 12px, 0px;
    background-color: #ffffffff;
    margin-bottom: 44px;

    &:hover {
      color: #F63765;
    }

    &:active {
      color: #AD0E35;
    }
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error-message {
  color: #BC0000;
  text-align: left;
  margin: 0 0 0 30px;
}

@media (min-width: @desktop-width) {
  .form {
    width: 480px;

    &-wrapper {
      background: url("../img/form-bg-desktop.jpg") no-repeat left,
        url("../img/form-bg-desktop2.jpg") no-repeat right;
      margin-bottom: 160px;
    }

    &__container {
      width: 680px;
      min-height: 710px;
      background-color: #ffffffff;
      margin: 0 auto;
    }

    &__title {
      font-size: 64px;
      margin: 80px 0 30px 117px;
    }

    &__text {
      font-size: 20px;
      margin: 0 0 56px 117px;
    }

    &__name {
      width: 440px;
    }

    &__number {
      width: 440px;
    }

    &__textarea {
      width: 440px;
    }

    &__button-wrapper {
      width: 100%;
      display: flex;
    }

    &__button {
      order: 2;
    }
  }
}
