// стили формы
.form {
  position: relative;

  width: 330px;
  margin: 0 auto;

  background-color: #ffffffff;

  &-wrapper {
    min-height: 825px;

    text-align: center;

    background: url("../img/form-background.png") no-repeat bottom;
  }

  &__title {
    margin: 0 0 16px 38px;

    font-weight: 700;
    font-size: 32px;
    font-family: "Stapel", arial, sans-serif;
    text-align: left;
  }

  &__text {
    margin: 0 0 24px 38px;

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
  }

  &__name {
    width: 300px;
    height: 44px;
    margin: 0 0 0 18px;
    padding-left: 16px;

    &:hover,
    &:focus,
    &:active,
    &:focus-visible {
      border: 1px solid #bc0000;
      outline: none;
    }
  }

  &__number {
    width: 300px;
    height: 44px;
    margin: 44px 0 0 18px;
    padding-left: 16px;

    &:hover,
    &:focus,
    &:active,
    &:focus-visible {
      border: 1px solid #bc0000;
      outline: none;
    }
  }

  &__textarea {
    width: 300px;
    height: 112px;
    margin: 44px 0 44px 18px;
    padding: 16px 0 0 16px;

    resize: none;

    &:hover,
    &:focus,
    &:active,
    &:focus-visible {
      border: 1px solid #bc0000;
      outline: none;
    }
  }

  &__button {
    width: 300px;
    height: 44px;
    margin: 0 0 16px 0;
    padding: 12px, 20px, 12px, 20px;

    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    background-color: #ffffffff;
    border: 1px solid #0d0d0d;
    border-radius: 0;

    &:hover {
      color: #ffffff;

      background-color: #f63765;
      border: none;
    }

    &:active {
      color: #ffffff;

      background-color: #ad0e35;
      border: none;
    }
  }

  &__button-reset {
    width: 300px;
    height: 44px;
    margin-bottom: 44px;
    padding: 12px, 0, 12px, 0;

    font-weight: 600;

    background-color: #ffffffff;
    border: none;

    &:hover {
      color: #f63765;
    }

    &:active {
      color: #ad0e35;
    }
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  margin: 0;

  -webkit-appearance: none;
}

.error-message {
  margin: 0 0 0 30px;

  text-align: left;
  color: #bc0000;
}

@media (min-width: @desktop-width) {
  .form {
    width: 480px;

    &-wrapper {
      margin-bottom: 160px;

      background: url("../img/form-bg-desktop.jpg") no-repeat left,
      url("../img/form-bg-desktop2.jpg") no-repeat right;
    }

    &__container {
      width: 680px;
      min-height: 710px;
      margin: 0 auto;

      background-color: #ffffffff;
    }

    &__title {
      margin: 80px 0 30px 117px;

      font-size: 64px;
    }

    &__text {
      margin: 0 0 56px 117px;

      font-size: 20px;
    }

    &__name {
      width: 440px;
    }

    &__number {
      width: 440px;
    }

    &__textarea {
      width: 440px;
    }

    &__button-wrapper {
      display: flex;
      width: 100%;
    }

    &__button {
      order: 2;
    }
  }
}
