// кнопки вызова модального окна
.modal-button {
  width: 200px;
  margin: auto;
  padding: 12px 20px 12px 20px;

  font-weight: 600;
  font-size: 16px;

  background-color: #ffffff;
  border: 1px solid #0d0d0d;

  &:hover {
    color: #ffffff;

    background-color: #f63765;
    border: none;
  }

  &:active {
    color: #ffffff;

    background-color: #ad0e35;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .modal-button {
    top: 527px;
    left: 260px;

    width: 200px;
    height: 44px;
    padding: 12px, 20px, 12px, 20px;

    border-radius: 0;

    &__main {
      position: absolute;
      top: 500px;
    }
  }
}
