// основной контент
.page-main {
  width: 375px;
  text-align: center;
}

.page-main__title {
  font-family: "Stapel", arial, sans-serif;
  font-size: 38px;
  text-transform: uppercase;
  line-height: 48px;
  margin: 0 0 20px 12px;
  text-align: left;
}

.page-main__text {
  font-size: 20px;
  margin: 0 0 0 12px;
  text-align: left;
}

.page-main__background {
  background: url("../img/main-background.jpg") no-repeat center;
  height: 430px;
  width: 375px;
}

@media (min-width: @desktop-width) {
  .page-main {
      margin-top: 100px;
    width: 100%;
    background: url("../img/background-desktop.jpg") no-repeat top right;
    &__background {
      width: 100%;
      min-height: 916px;
      background: none;
    }
    &__title {
        margin: 312px 0 0 260px;
        font-size: 72px;
    }
    &__text {
        margin: 30px 0 0 260px;
        font-size: 24px;
    }
  }
}
