.page-main {
    width: 375px;
    text-align: center;
}
.page-main__title {
  font-family: "Stapel";
  font-size: 38px;
  text-transform: uppercase;
  line-height: 48px;
  margin: 0 0 20px 12px;
  text-align: left;
}

.page-main__text {
  font-size: 20px;
  margin: 0 0 0 12px;
  text-align: left;
}

.page-main__background {
  background: url("../img/main-background.jpg") no-repeat center;
  height: 430px;
  width: 375px;
}
