.slider {
  &__title {
    font-family: Stapel;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    margin: 80px 0 0 12px;
  }
}

.slider-list {
  &__item {
    list-style: none;
  }
}


